:root {
  --color-primary-white: #fff;
  --color-primary-black: #000;
  --color-subtle-grey: #fafafa;
  --color-light-gray: lightgray;
  --color-normal-grey: gray;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-primary-white);
}

.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid var(--color-light-gray);
  > input {
    flex: 1;
    border: none;
  }
}

.header_icon {
  margin-right: 7 px;
}

.header__input__button {
  width: 50px !important;
  background-color: var(--color-subtle-grey);
  border-left: 1px solid var(--color-light-gray);
  color: var(--color-normal-grey);
}

.header__icons {
  display: flex;
  align-items: center;
}
