:root {
  --color-primary-black: #000;
  --color-primary-lightgrey: #f9f9f9;
}

.recommendedVideos {
  flex: 0.8;
  background-color: var(--color-primary-lightgrey);
  padding: 40px 20px;
  padding-bottom: 0;
}
